*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    

}

main{
    
    width: 100%;
    max-width: 600px;
    
    padding: 0 2em;
    margin: 0 auto;
    margin-top: 2em;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.div-input{
    display: flex;
    flex-direction: column;
}

.form-input{
    padding: .7em;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1em;
}

form button{
    background-color: #057dd9;
    color: #ffffff;
    border: 0;
    font-size: 1.3em;
    border-radius: 8px;
    padding: .6em 0;
    cursor: pointer;
}

form button:hover{
    background-color: #005ba0;
}

#login{
    margin-top: 2em;
    text-align: center;
}

p a{
    text-decoration: none;
    font-weight: 600;
}

.error-div{
    display: flex;
    text-align: start;
    color: rgb(202, 0, 0);
    display: none;
}

.active{
    display: block;
}